a{
    text-decoration: none;
}
li {
    list-style-type: none;
}
.cart-subtotal {
    display: none !important;
}
.display-disabled{
    display: none;
}
.woocommerce table.shop_table tfoot tr:first-child {
    display: none !important;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message {
    padding: 1em 2em 2em 3.5em;
    margin: 0 0 2em;
    position: relative;
    background-color: #f7f6f7;
    color: #515151;
    border-top: 3px solid #8fae1b;
    list-style: none outside;
    width: auto;
    word-wrap: break-word;
}
.woocommerce #respond input#submit.added::after, .woocommerce a.button.added::after, .woocommerce button.button.added::after, .woocommerce input.button.added::after {
    font-family: WooCommerce;
    content: "\e017";
    margin-left: .53em;
    vertical-align: bottom;
}
.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before {
    font-family: WooCommerce;
    content: "\e028";
    display: inline-block;
    position: absolute;
    top: 1em;
    left: 1.5em;
}
.woocommerce-error::after, .woocommerce-error::before, .woocommerce-info::after, .woocommerce-info::before, .woocommerce-message::after, .woocommerce-message::before {
    content: ' ';
    display: table;
}
.woocommerce-message::before {
    content: "\e015";
    color: #8fae1b;
}
.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button,
.woocommerce-page .woocommerce-error .button,
.woocommerce-page .woocommerce-info .button,
.woocommerce-page .woocommerce-message .button {
    float: right;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-message .restore-item,
.woocommerce-info .showcoupon{
    font-family: "Roboto Light", sans-serif;
    font-size: 14px;
    line-height: 14px;
    padding: 12px 35px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    background-color: rgb(89, 166, 0);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
}
.woocommerce #respond input#submit:hover,
.woocommerce-info .showcoupon:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce-message .restore-item:hover,
.woocommerce #respond input#submit:active,
.woocommerce-info .showcoupon:active,
.woocommerce a.button:active,
.woocommerce button.button:active,
.woocommerce input.button:active,
.woocommerce-message .restore-item:active,
.woocommerce #respond input#submit:focus,
.woocommerce a.button:focus,
.woocommerce button.button:focus,
.woocommerce input.button:focus,
.woocommerce-message .restore-item:focus,
.woocommerce-info .showcoupon:focus{
    outline: none !important;
    /*background-color: #e0e0e0;*/
    background-color: rgba(89, 166, 0, 0.9);
    cursor: pointer;
}
.woocommerce-notices-wrapper .woocommerce-message a.button.wc-forward:hover,
.woocommerce-notices-wrapper .woocommerce-message a.button.wc-forward:active,
.woocommerce-notices-wrapper .woocommerce-message a.button.wc-forward:focus,
.woocommerce-message .restore-item:hover,
.woocommerce-message .restore-item:active,
.woocommerce-message .restore-item:focus{
    outline: none !important;
    /*background-color: #e0e0e0;*/
    background-color: rgba(89, 166, 0, 0.9)
}
.woocommerce-message .restore-item {
    float: right;
    margin: -7px 20px;
}
.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: rgb(89, 166, 0);
    border-color: rgb(89, 166, 0);
}
.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(89, 166, 0, 0.5);
}







.wrapper-content {
    display: flex;
    align-items: flex-start;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-weight: 100;
    color: rgb(81,81,81);
}
.wrapper-content .widget-area {
    width: 100%;
    max-width: 240px;
}
.wrapper-content .widget-area .widgettitle{
    line-height: 3rem;
    font-size: 25px;
}
.product-categories{
    margin-top: 0;
    padding: 0;
    width: 100%;
    border-radius: 5px;
    background: #fff;
    list-style: none;
    border: 1px solid #e8e8e8;
}
.product-categories .cat-item{
    border-radius: 4px 4px 0 0;
    border-top: 1px solid #e8e8e8;
}
.product-categories .cat-item:first-child{
    border: none;
}
.product-categories .cat-item a {
    padding: 10px 20px 10px 20px;
    display: block;
    color: rgb(81,81,81);
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}
.product-categories .cat-item a:hover,
.product-categories .cat-item a:active{
    cursor: pointer;
    background: #e6e6e6;
    color: #000900;
}
.product-items {
    margin: 0 0 0 50px;
    width: 100%;
}
.woocommerce-ordering {
    margin: 10px 0 0 0;
}
.woocommerce-ordering .orderby{
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    color: rgb(81,81,81);
    font-family: Roboto;
    font-size: 15px;
    outline: none;
}
.woocommerce-ordering input,
.woocommerce-ordering input:hover,
.woocommerce-ordering input:active,
.woocommerce-ordering input:focus{
    outline: none;
    border: none;
}
.woocommerce-ordering .orderby:hover,
.woocommerce-ordering .orderby:active,
.woocommerce-ordering .orderby:focus{
    outline: none;
    cursor: pointer;
}
.woocommerce-ordering .orderby option {
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    outline: none;
    background: white;
}

.columns-3 ul.products.columns-3{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.columns-3 ul.products.columns-3 li {
    display: inline-block;
    max-width: 28%;
    margin: 5px 10px;
    padding: 10px 10px 15px 10px;
    border: 1px solid #e8e8e8;
    position: relative;
    min-height: 380px;
}
.columns-3 ul.products.columns-3 li:hover {
    box-shadow: 0px 14px 40px 1px rgba(0,0,0,0.2);
}
.columns-3 ul.products.columns-3 li:hover .woocommerce-loop-product__title{
    transition: all 0.5s ease-in-out;
    height: 75px;
}
.woocommerce ul.products li.product a img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 0 1em;
    box-shadow: none;
    min-height: 218px;
}
.columns-3 ul.products.columns-3 li .woocommerce-loop-product__title{
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 10px;
    height: 40px;
    overflow: hidden;
    color: #231f20;
    border-bottom: 1px solid #e8e8e8;
}
.columns-3 ul.products.columns-3 li span.price {
    font-size: 17px;
    font-weight: bold;
    color: #3b3b43;
}
.columns-3 ul.products.columns-3 li span.price ins {
    text-decoration: none;
}
.columns-3 ul.products.columns-3 li span.price del {
    display: none;
}
.button.product_type_variable.add_to_cart_button {
    display: inline-block;
    margin: 9px 16% 0;
    width: 142px;
}


.woocommerce ul.products li.product a span.onsale {
    display: none;
}
.columns-3 ul.products.columns-3 li .button.product_type_simple.add_to_cart_button{
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgb(89, 166, 0);
    padding: 8px 15px;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
    border-radius: 7px;
    position: absolute;
    right: 9px;
}
.columns-3 ul.products.columns-3 li .button.product_type_simple.add_to_cart_button:active,
.columns-3 ul.products.columns-3 li .button.product_type_simple.add_to_cart_button:hover{
    background-color: rgb(100, 180, 0);
}


.woocommerce nav.woocommerce-pagination {
    text-align: center;
}
.woocommerce nav.woocommerce-pagination ul {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    clear: both;
    border: 1px solid #d3ced2;
    border-right: 0;
    margin: 1px;
}
.woocommerce nav.woocommerce-pagination ul li {
    border-right: 1px solid #d3ced2;
    display: inline;
    float: left;
    overflow: hidden;
}
.woocommerce .woocommerce-pagination ul.page-numbers::after, .woocommerce .woocommerce-pagination ul.page-numbers::before, .woocommerce-page .woocommerce-pagination ul.page-numbers::after, .woocommerce-page .woocommerce-pagination ul.page-numbers::before {
    content: ' ';
    display: table;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
    margin: 0;
    padding: .5em;
    text-decoration: none;
    display: block;
    min-width: 1em;
    line-height: 1;
    font-size: 1em;
    font-weight: 400;
}
.woocommerce nav.woocommerce-pagination ul li a {
    color: #8a7e88;
}
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    background: #ebe9eb;
    color: #8a7e88;
}

/**********
           style-cart
                     *******/

p.return-to-shop {
    margin: 0 0 20px
}
.post-100.page.type-page.status-publish.hentry .entry-content .woocommerce .woocommerce-breadcrumb {
    position: relative;
    top: -75px;
}
header.entry-header h1.entry-title{
    font-size: 27px;
    color: #444648;
    font-weight: normal;
    margin: 50px 0 10px;
}
.entry-content .cart-box {
    display: flex;
    justify-content: space-between;
}
.cart-box .woocommerce-cart-form.table-responsive {
    width: 70%;
}

.cart-box .woocommerce-cart-form.table-responsive,
.cart-collaterals.row,
.payment-details-bg,
.your-order-total-bg{
    background-color: #f7f6f7;
    border-radius: 10px;
    padding: 1rem 1.3rem;
}
.cart-collaterals.row,
.cart-box .woocommerce-cart-form.table-responsive{
    padding: 1.5rem 3rem;
}
.table thead th {
    border: none;
}
.table th, .table td {
    vertical-align: middle;
}
.cart_product_name_style {
    color: #787878;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f7f6f7;
}
.table th,
.table td {
    border: none;
}
.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents.table.table-striped tbody{
    border-top:3px solid #ededed;
}
.woocommerce-cart-form__cart-item.cart_item td{
    padding: 0.75rem 1rem 1rem 0;
    width: 25%;
}
.woocommerce-cart-form__cart-item.cart_item td.product-name{
    width: 47%;
}
.woocommerce-cart-form__cart-item.cart_item td.product-name a {
    color: #231f20;
    font-size: 15px;
    font-family: Roboto;
    line-height: 21px;
    white-space: normal;
}
.woocommerce-cart-form__cart-item.cart_item td.product-quantity {
    width: 11%;
    padding-right: 0;
}
.woocommerce-cart-form__cart-item.cart_item td.product-price,
.cart_product_name_style th.product-price{
    text-align: center;
}
.woocommerce-cart-form__cart-item.cart_item td.product-remove {
    text-align: center;
}
.woocommerce-cart-form__cart-item.cart_item td.product-remove .remove {
    color: #787878;
    font-size: 20px
}
.woocommerce-cart-form__cart-item.cart_item td.product-remove .remove:hover {
    color: #789899;
}
.woocommerce-cart-form__cart-item.cart_item td.product-price .woocommerce-Price-amount.amount {
    margin: 0 0 0 35px;
}
.woocommerce-cart-form__cart-item.cart_item td.product-name a:hover {
    color: #3e3739;
}
.product-thumbnail a img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    max-width: 100px;
    height: auto;
    margin: 0 auto;
    width: 100px;
    display: block
}
.form-inline label.form_coupon-label {
    justify-content: left;
}



div.form-inline {
    align-items: flex-end;
}
.cart-collaterals.row {
    height: max-content;

}
.shop_table.table.table-striped.cart_total{
    text-align: right;
}
.shop_table.table.table-striped.cart_total td {
    text-align: center;
}
.shop_table.table.table-striped.cart_total th {
    color: #444648;
}
.shop_table.table.table-striped.cart_total td.wc-proceed-to-checkout {
    text-align: right;
    padding-right: 20px;
}
.shop_table.table.table-striped.cart_total td.wc-proceed-to-checkout a {
    padding: .618em 1.5em;
}
.cart_totals {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart_totals>h2{
    color: #444648;
    font-weight: normal;
}
/******
       style checkout
                     ******/
.woocommerce-info .showcoupon{
    margin: 0 0 0 10px;
    padding: 10px 20px;
}
.post-101.page.type-page.status-publish.hentry .woocommerce-info {
    margin: 0;
}
.checkout_coupon.woocommerce-form-coupon.row {
    margin: 0;
    background-color: #f7f6f7;
}
.checkout.woocommerce-checkout::after {
    display: block;
    clear: both;
    content: "";
}
.woocommerce-billing-fields__field-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.woocommerce-billing-fields__field-wrapper > p {
    align-items: flex-end;
    margin-bottom: 1rem;
}
.woocommerce-billing-fields__field-wrapper span.woocommerce-input-wrapper,
.woocommerce-additional-fields__field-wrapper span.woocommerce-input-wrapper{
    width: 100%;
}
.checkout.woocommerce-checkout.row {
    margin: 1rem 0;
    justify-content: space-between;
}
#billing_country_field {
    align-content: center;
}
.woocommerce-billing-fields > h3,
.woocommerce-additional-fields > h3{
    font-size: 21px;
    margin: 0 0 10px 0;
}
.your-order-total > h3 {
    font-size: 21px;
}
@media (min-width: 768px) {
    .col-md-7.payment-details-box {
        margin-right: 6%;
    }
}
.woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout {
    width: 97.5%;
    margin: 0 auto;
}
.woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout .woocommerce-error {
    border-top: 3px solid red;
}
.your-order-total .wc_payment_methods.payment_methods.methods {
    padding: 0;
}
.your-order-total .wc_payment_methods.payment_methods.methods li.woocommerce-notice.woocommerce-notice--info.woocommerce-info {
    padding: 0.5rem 0;
}
.your-order-total .shop_table.woocommerce-checkout-review-order-table thead{
    line-height: 2.5rem;
}
.your-order-total .shop_table.woocommerce-checkout-review-order-table tbody {
    line-height: 1.5rem;
    border-bottom: 3px solid transparent;
}
.your-order-total .shop_table.woocommerce-checkout-review-order-table tfoot {
    border-top: 3px solid transparent;
}
.your-order-total .shop_table.woocommerce-checkout-review-order-table tfoot .cart-subtotal {
    line-height: 2rem;
}
.your-order-total .woocommerce-checkout-payment .woocommerce-terms-and-conditions-wrapper .woocommerce-privacy-policy-text {
    padding: 1rem 0;
}