@font-face{font-family:star;src:url(assets/fonts/star.eot);
	src:url(assets/fonts/star.eot?#iefix) format("embedded-opentype"),
	url(assets/fonts/star.woff) format("woff"),
	url(assets/fonts/star.ttf) format("truetype"),
	url(assets/fonts/star.svg#star) format("svg");
	font-weight:400;font-style:normal}
@font-face{font-family:WooCommerce;src:url(assets/fonts/WooCommerce.eot);
	src:url(assets/fonts/WooCommerce.eot?#iefix) format("embedded-opentype"),
	url(assets/fonts/WooCommerce.woff) format("woff"),
	url(assets/fonts/WooCommerce.ttf) format("truetype"),
	url(assets/fonts/WooCommerce.svg#WooCommerce) format("svg");font-weight:400;font-style:normal}

.form-block1-number-1 {
    width: 300px !important;
    height: 170px;
    /*        border: 1px solid #333;*/
    position: absolute;
}

.form1-name-number-1,
.form1-telefon-number-1{
    position: relative;
    width: 345px;
    height: 50px;
    display: block;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 4px 4px 4px 4px;
    border: 1px solid rgb(212,212,212);
    padding: 0 5px 0 5px;
    box-sizing: border-box;
    margin-bottom: 12px;
}

.form1-button-number-1 {
    position: relative;
    width: 345px;
    height: 50px;
    display: block;
    font-size: 22px;
    font-family: Roboto, sans-serif;
    color: rgb(51,51,51);
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgb(138,138,138);
    background-image: url("assets/img/button-fone.png");
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: auto;
    cursor: pointer;
}

.popUpFormBIO-header-1 {
    width: 300px;
    height: 170px;
    /*      border: 1px solid #333;   */
    position: absolute;
}

.popUpForm-NameNumberBIO-header-1,
.popUpForm-TelefonNumberBIO-header-1{
    position: relative;
    width: 280px;
    height: 35px;
    display: block;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 4px 4px 4px 4px;
    border: 1px solid rgb(212,212,212);
    padding: 0 5px 0 5px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.popUpForm-NameNumberBIO-header-1 {
    background: url(assets/img/icon-1.png) 10px center / 22px no-repeat scroll rgb(255, 255, 255); padding: 10px 10px 10px 40px !important;
}

.popUpForm-TelefonNumberBIO-header-1 {
    background: url(assets/img/icon-2.png) 10px center / 22px no-repeat scroll rgb(255, 255, 255); padding: 10px 10px 10px 40px !important;
}
.popUpForm-ButtonNumberBIO-header-1 {
    position: relative;
    width: 280px;
    height: 44px;
    display: block;
    font-size: 22px;
    font-family: Roboto, sans-serif;
    color: rgb(51,51,51);
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgb(138,138,138);
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: auto;
    cursor: pointer;
}

 .popUpFormBIO-outside-2 {
     width: 300px;
     height: 170px;
     /*      border: 1px solid #333;   */
     position: absolute;
 }
.popUpFormBIO-outside-1 {
    width: 300px;
    height: 170px;
    /*      border: 1px solid #333;   */
    position: absolute;
}

.popUpFormBIO-outside-7 {
    width: 300px;
    height: 170px;
    /*      border: 1px solid #333;   */
    position: absolute;
 }

.popUpForm-NameNumberBIO-outside-7,
.popUpForm-TelefonNumberBIO-outside-7,
.popUpForm-QestNumberBIO-outside-7 {
    position: relative;
    width: 280px;
    height: 35px;
    display: block;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 4px 4px 4px 4px;
    border: 1px solid rgb(212,212,212);
    padding: 0 5px 0 5px;
    box-sizing: border-box;
    margin-bottom: 12px;
}

.popUpForm-NameNumberBIO-outside-7 {
    background: url(assets/img/icon-1.png) 10px center / 22px no-repeat scroll rgb(255, 255, 255); padding: 10px 10px 10px 40px !important;
}

.popUpForm-TelefonNumberBIO-outside-7 {
    background: url(assets/img/icon-2.png) 10px center / 22px no-repeat scroll rgb(255, 255, 255); padding: 10px 10px 10px 40px !important;
}

.popUpForm-QestNumberBIO-outside-7 {
    background: url(assets/img/icon-3.png) 10px center / 22px no-repeat scroll rgb(255, 255, 255); padding: 10px 10px 10px 40px !important;
    height: 60px;
}


.popUpForm-ButtonNumberBIO-outside-7 {
    position: relative;
    width: 280px;
    height: 44px;
    display: block;
    font-size: 22px;
    font-family: Roboto, sans-serif;
    color: rgb(51,51,51);
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgb(138,138,138);
    background-image: url("assets/img/ButtonAnimate2.gif");
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: auto;
    cursor: pointer;
}
.popUpFormBIO-outside-8 {
    width: 870px;
    height: 170px;
    /*      border: 1px solid #333;   */
    position: absolute;
}
.popUpForm-NameNumberBIO-outside-8 {
    position: relative;
    width: 280px;
    height: 44px;
    display: block;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 4px 4px 4px 4px;
    border: 1px solid rgb(212,212,212);
    padding: 0 5px 0 5px;
    box-sizing: border-box;
    margin-bottom: 12px;
    background: url(assets/img/icon-1.png) 10px center / 22px no-repeat scroll rgb(255, 255, 255); padding: 10px 10px 10px 40px !important;
}


.popUpForm-TelefonNumberBIO-outside-8 {
    position: relative;
    width: 280px;
    height: 44px;

    left: 290px;
    top: -56px;

    display: block;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 4px 4px 4px 4px;
    border: 1px solid rgb(212,212,212);
    padding: 0 5px 0 5px;
    box-sizing: border-box;
    margin-bottom: 12px;
    background: url(assets/img/icon-2.png) 10px center / 22px no-repeat scroll rgb(255, 255, 255); padding: 10px 10px 10px 40px !important;
}


.popUpForm-ButtonNumberBIO-outside-8 {
    position: relative;
    width: 280px;

    left: 580px;
    top: -112px;

    height: 44px;
    display: block;
    font-size: 22px;
    font-family: Roboto, sans-serif;
    color: rgb(51,51,51);
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgb(138,138,138);
    background-image: url("assets/img/ButtonAnimate2.gif");
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: auto;
    cursor: pointer;
}
.popUpFormBIO-9 {
    width: 300px;
    height: 170px;
    /*        border: 1px solid #333;*/
    position: absolute;
}

.popUpForm-NameNumberBIO-9,
.popUpForm-TelefonNumberBIO-9{
    position: relative;
    width: 280px;
    height: 35px;
    display: block;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 4px 4px 4px 4px;
    border: 1px solid rgb(212,212,212);
    padding: 0 5px 0 5px;
    box-sizing: border-box;
    margin-bottom: 12px;
}

.popUpForm-NameNumberBIO-9 {
    background: url(assets/img/icon-1.png) 10px center / 22px no-repeat scroll rgb(255, 255, 255); padding: 10px 10px 10px 40px !important;
}

.popUpForm-TelefonNumberBIO-9 {
    background: url(assets/img/icon-2.png) 10px center / 22px no-repeat scroll rgb(255, 255, 255); padding: 10px 10px 10px 40px !important;
}
.popUpForm-ButtonNumberBIO-9 {
    position: relative;
    width: 280px;
    height: 44px;
    display: block;
    font-size: 22px;
    font-family: Roboto, sans-serif;
    color: rgb(51,51,51);
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgb(138,138,138);
    background-image: url("assets/img/ButtonAnimate2.gif");
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: auto;
    cursor: pointer;
}





.wpcf7-form-control.wpcf7-submit.popUpForm-ButtonNumberBIO-header-1 {
    background-image: url('assets/img/ButtonAnimate2.gif');
}



.bi.irz, .bi.irz::before, .bi.irz::after {
    box-sizing: unset;
}
#i555 .nav {
	display: block;
}

.count {
	display: block;
	position: absolute;
	top: -10px;
	right: -15px;
	box-sizing: border-box;
	padding: 2px 0px;
	width: 26px;
	border-radius: 100%;
	font-size: 17px;
	line-height: 23px;
	color: #fff;
	text-align: center;
	background-color: #fb3f4c;
}
.popUpFormBIO-1 {
	 width: 300px;
	 height: 170px;
	 /*        border: 1px solid #333;*/
	 position: absolute;
 }
.popUpForm-NameNumberBIO-1,
.popUpForm-TelefonNumberBIO-1{
	position: relative;
	width: 280px;
	height: 35px;
	display: block;
	font-size: 16px;
	font-family: Roboto, sans-serif;
	color: rgb(0, 0, 0);
	border-radius: 4px 4px 4px 4px;
	border: 1px solid rgb(212,212,212);
	padding: 0 5px 0 5px;
	box-sizing: border-box;
	margin-bottom: 12px;
}
.popUpForm-NameNumberBIO-1 {
	background: url(assets/img/icon-1.png) 10px center / 22px no-repeat scroll rgb(255, 255, 255); padding: 10px 10px 10px 40px !important;
}
.popUpForm-TelefonNumberBIO-1 {
	background: url(assets/img/icon-2.png) 10px center / 22px no-repeat scroll rgb(255, 255, 255); padding: 10px 10px 10px 40px !important;
}
.popUpForm-ButtonNumberBIO-1 {
	position: relative;
	width: 280px;
	height: 44px;
	display: block;
	font-size: 22px;
	font-family: Roboto, sans-serif;
	color: rgb(51,51,51);
	border-radius: 10px 10px 10px 10px;
	border: 1px solid rgb(138,138,138);
	background-image: url("assets/img/button-fone.png");
	background-repeat: repeat;
	background-attachment: scroll;
	background-size: auto;
	cursor: pointer;
}
#i1969 .irz.scroll0 li{
	list-style-type: disc;
}

.content_section{
	padding:  20px 0 30px 0;
	font-family: Roboto, sans-serif;
}
div#primary.content-area{
	width: 85%;
	margin: 0 auto;
}
.woocommerce-breadcrumb {
	font-size: 11px;
}
.woocommerce-breadcrumb a{
	color: #444648;
}
.woocommerce ul.products li.product a.added_to_cart.wc-forward {
	display: none;
}

.col-1,
.col-2 {
	max-width: none;
}
.your-order-total .shop_table.woocommerce-checkout-review-order-table {
	width: 100%;
}

.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ng,
.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors,
.wpcf7-response-output.wpcf7-validation-errors,
.wpcf7-response-output.wpcf7-mail-sent-ng,
.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok{
    margin: 1em 0.5em 1em;
    border: none;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    background-color: white;
}
span.wpcf7-not-valid-tip {
    position: absolute;
    min-width: 278px;
    top: 34px;
    font-size: 12px;
}
#i723 span.wpcf7-not-valid-tip {
    top: 49px;
}
#i1089 .wpcf7-form-control-wrap.Name span.wpcf7-not-valid-tip,
#i1932 .wpcf7-form-control-wrap.Name span.wpcf7-not-valid-tip,
#i1819 .wpcf7-form-control-wrap.Name span.wpcf7-not-valid-tip{
    top: 46px
}
#i1089 .wpcf7-form-control-wrap.Numberphone span.wpcf7-not-valid-tip,
#i1932 .wpcf7-form-control-wrap.Numberphone span.wpcf7-not-valid-tip,
#i1819 .wpcf7-form-control-wrap.Numberphone span.wpcf7-not-valid-tip{
    top: -10px;
    left: 290px;
}